@import '../vendors/sb-admin/bower_components/bootstrap/dist/css/bootstrap.min';
@import '../vendors/sb-admin/bower_components/metisMenu/dist/metisMenu.min';
@import '../vendors/sb-admin/dist/css/timeline';
@import '../vendors/sb-admin/dist/css/sb-admin-2';
@import '../vendors/sb-admin/bower_components/morrisjs/morris';
